<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <springProperty scope="context" name="SLACK_WEBHOOK_ERROR" source="slack.webhooks.error"/>

    <conversionRule conversionWord="clr"
                    converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] %clr(%-5level) %clr(${PID:-}){magenta} %clr(---){faint} %clr([%15.15thread]){faint} %clr(%-40.40logger{36}){cyan} %clr(:){faint} : %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SLACK_STARTUP" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_ERROR}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
:rotating_light: *서버에서 에러가 발생했습니다!* :rotating_light:%n
`%msg`%n
%rootException{1}%n
]]></pattern>
        </layout>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="SLACK_RUNTIME" class="com.github.maricn.logback.SlackAppender">
        <webhookUri>${SLACK_WEBHOOK_ERROR}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
:rotating_light: *서버에서 에러가 발생했습니다!* :rotating_light:%n
%msg
]]></pattern>
        </layout>
        <colorCoding>true</colorCoding>
    </appender>

    <appender name="ASYNC_SLACK_STARTUP" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_STARTUP"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ASYNC_SLACK_RUNTIME" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SLACK_RUNTIME"/>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <logger name="runtime.error" level="ERROR" additivity="false">
        <appender-ref ref="ASYNC_SLACK_RUNTIME"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_SLACK_STARTUP"/>
    </root>
</configuration>
